media-img[b-h2ti5qftxr] {
    max-height: 100px;
    max-width: 100px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform .2s;
}

    .media-img:hover[b-h2ti5qftxr] {
        transform: scale(1.1);
    }

media-img-wrapper[b-h2ti5qftxr] {
    width: 200px;
    text-align: center;
}

@media (max-width: 1023.98px) {
    .media[b-h2ti5qftxr] {
        flex-direction: column;
    }

    .media-img-wrapper[b-h2ti5qftxr] {
        width: 100%;
        height: auto;
    }
}
