.show-menu[b-u0a55y88sl] {
    display: block;
}

.user-button[b-u0a55y88sl] {
    margin-left: .5em;
}

.top-row a[b-u0a55y88sl] {
    margin-left: 0;
}

.dropdown-item:hover[b-u0a55y88sl] {
    background-color: white;
}
